html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: grey;
}

canvas {
	display: block;
}

.container {
	position: relative;
}

.debug-ui {
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
	padding: 5px;
	pointer-events: none;
	font-family: monospace;
	word-spacing: 0vh;
	user-select: none;
	cursor: pointer;
}

.debug-ui-info {
	position: absolute;
	box-sizing: border-box;
	margin-left: -320px;
	width: 180px;
	transition: all 0.3s;
	padding: 1rem;
}

.debug-ui-toggle {
	pointer-events: all;
	background-color: rgba(255, 255, 255, 0.3);
}

.debug-ui--open {
	margin-left: 0;
}
