html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

canvas {
	display: block;
}

.container {
	position: relative;
}

.debug-ui {
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
	padding: 5px;
	pointer-events: none;
	font-family: monospace;
	word-spacing: 0vh;
	user-select: none;
	cursor: pointer;
}

.debug-ui-info {
	position: absolute;
	box-sizing: border-box;
	margin-left: -320px;
	width: 250px;
	transition: all 0.3s;
	padding: 1rem;
}

.debug-ui-toggle {
	pointer-events: all;
	background-color: rgba(255, 255, 255, 0.3);
}

.debug-ui--open {
	margin-left: 0;
}

.add-ui {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	padding: 5px;
	pointer-events: none;
	font-family: monospace;
	word-spacing: 0vh;
	user-select: none;
	cursor: pointer;
}

.add-ui-toggle {
	pointer-events: all;
	background-color: rgba(255, 255, 255, 0.3);
	font-size: 23px;
	text-align: center;
	padding: 2px;
	border-radius: 1px;
	margin-bottom: 10px;
}

.add-ui-menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	text-align: right;
	right: 0;
	margin-right: -40vw;
	transition: all 0.3s;
	padding: 0rem;
	color: #fff;
	min-width: 150px;
	transition: all 0.3s ease;
	overflow: hidden;
	height: auto;
}

.add-ui-menu > p {
	pointer-events: all;
	font-size: 15px;
	border-radius: 3px;
	border: white;
	border-radius: 1px;
}

.add-ui--open {
	margin-right: 0px;
}

.drawer {
    opacity: 0;
    transition: opacity 0.65s ease, max-height 0.65s ease, height 0.65s ease; /* Transition opacity and max-height over 0.3 seconds with ease */
    max-height: 0; /* Initially hide the drawer */
    will-change: opacity, height; /* Hint to the browser that these properties will be animated */
	pointer-events: all;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: end;
}

.drawer > * {
	margin-top: 5px;
	margin-bottom: 5px;
}

.drawer.open {
    opacity: 1;
    max-height: 500px;
}

.drawer > div {
	background-color: rgba(255, 255, 255, 0.3);
	font-size: 15px;
	text-align: center;
	padding: 2px;
	border: none;
	width: 50px;
}
